nav {
    background-color: slategray;
    color: whitesmoke;
}

nav img {
    width: 80px;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: bisque;
}
